.banner {
  height: 100px;
}

.component{
  width: 90vw;
  margin: 0 auto;
}
.table-container{
  width: 100%;
  tr{
    td{
      padding: 7px 0;
    }
  }

  thead tr td{
    border-bottom: 1px solid grey;
  }

  .table-1 {
    width: 4%;
  }

  .table-2 {
    width: 20%;
  }

  .table-3 {
    width: 20%;
  }

  .table-4 {
    width: 10%;
  }

  .table-5 {
    width: 8%;
  }

  .table-6 {
    width: 8%;
  }

  .table-7 {
    width: 24%;
  }

  input, textarea {
    width: 100%;
  }
}