.component {
  display: flex;
  flex-direction: row;

  .left {
    li {
      padding-top: 0.25rem;
      padding-bottom: 0.5rem;
      list-style-type: none;
    }
    padding: 1rem;
    width: 30vw;
  }
  .right {
    padding: 1rem;
    width: 70vw;
  }
}