$hover-color: #ccc;
$debug-color-1: lime;
$debug-color-2: cyan;
$anim: all 0.2s;

.navbar {
  padding: 0.5rem 1rem;
  display: flex;

  div {
    display: flex;
  }

  div div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left{
    .hamburger {
      transition: all 0.1s;
      cursor: pointer;
      border-radius: 100%;
      padding: 0.5rem;
      font-size: 3rem;
    }

    .hamburger:hover {
      transition: $anim;
      background-color: $hover-color;
    }

    .company {
      height: 3rem;
    }

    .address {
      cursor: pointer;
      padding: 0.2rem 0.4rem;
      border-radius: 10rem;
      display: flex;

      .icon {
        font-size: 2rem;
      }

      .text {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;

        .select_address {
          font-weight: bold;
        }
      }
    }

    .address:hover {
      transition: $anim;
      background-color: $hover-color;
    }
  }

  .center {

  }

  .right {
    .bell {
      font-size: 2rem;
      cursor: pointer;
      border-radius: 100%;
      padding: 0.2rem;
      border: black solid 0.1px;
    }

    .bell:hover {
      transition: $anim;
      background-color: $hover-color;
    }

    .language {
      font-size: 2rem;
      cursor: pointer;
      border-radius: 100%;
      padding: 0.2rem;
      border: black solid 0.1px;
    }

    .language:hover {
      transition: $anim;
      background-color: $hover-color;
    }
  }
}