@mixin button-default {
  border: none;
  padding: 3px  17px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.edit, .yellow{
  background-color: yellow;
  @include button-default()
}

.delete, .red{
  background-color: red;
  @include button-default()
}

.submit, .blue{
  background-color: #0096ff;
  @include button-default()
}

.cancel {
  background-color: yellow;
  color: red;
  @include button-default()
}

.save, .green {
  background-color: limegreen;
  @include button-default()
}
